{% extends "main_layout.html" %}

{% block content %}
<h1>Сайты</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for check in last_url_checks %}
                <tr>
                    <td>{{ check.url_id }}</td>
                    <td>
                        <a href="{{ url_for('urls_show', id=check.url_id) }}">{{ check.name }}</a>
                    </td>
                    <td>{{ check.date }}</td>
                    <td>{{ check.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}