{% extends "main_layout.html" %}

{% block content %}
<h1>Сайт: {{ url_data.name }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url_data.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url_data.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url_data.date }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>

<form method="post" action="{{ url_for('urls_checks_post', id=url_data.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for check_data in url_checks_data %}
                <tr>
                    <td>{{ check_data.id }}</td>
                    <td>{{ check_data.status_code }}</td>
                    <td>{{ check_data.h1 }}</td>
                    <td>{{ check_data.title }}</td>
                    <td>{{ check_data.description }}</td>
                    <td>{{ check_data.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>      
{% endblock %}
